@media screen and (max-width:992px) {
    .generalwidth {
        width:860px;
    }
}
@media screen and (max-width:768px) {
    .generalwidth {
        width:640px;
    }
}
@media screen and (max-width:480px) and (orientation:portrait) {
    .generalwidth {
        width:420px;
    }
}
@media screen and (max-width:480px) {
    .generalwidth {
        width:420px;
    }
}
@media screen and (max-width:1080px) and (orientation:portrait) {
    .generalwidth {
        width:920px;
    }
}
@media screen and (max-width:720px) and (orientation:portrait) {
    .generalwidth {
        width:640px;
    }
}