@media screen and (max-width:992px) {
    .generalwidth {
        width:900px;
    }
}
@media screen and (max-width:768px) {
    .generalwidth {
        width:700px;
    }
}
@media screen and (max-width:480px) and (orientation:portrait) {
    .generalwidth {
        width:420px;
    }
}