.generalwidth {
    width: 940px;
    margin: 20px auto;
}
.header {
    background: black;
    width: 100%;
    height: auto;
}
.menu {
    list-style-type: none;
    padding-left: 5px;
    margin-left: 0;
}
.menu li {
    display: inline;
}
li {
    width:auto;
}
a.current {
    font-weight: bolder;
    color: white;
}
a.waiting {
    color: white;
}
body {max-width: 90%;
    height: auto;
    margin: auto;
    border-bottom: 1px solid black;}
table {
    width: 95%;
    padding: 0px;
    margin: 0px;
    text-align: left;
}
hr {
    width:85%;
}
details {
    width:95%;
}
.FIO {
    display: block;
    vertical-align: top;
    font-weight: bolder;
    font-size: 25px;
    margin: 0px;
 }
p {
    display: block;
    vertical-align: top;
    font-size: 17px;
    margin: 0px;
    width:auto;
}
td {
    vertical-align: top;
    margin: 0px;
    border: 0px;
}
.tdwhite {
    color: white;
    font-size: 22px;
    margin-left: 3%;
}
.subtitle {
    font-size: 23px;
	background: black;
	color: rgb(241, 241, 225);
	display: inline-block;
	padding: 0 2px;
	line-height: 30px;
}
.mainInfo {
    font-size: 22px;
    font-weight: bold;
    padding: 0 2px;
    }
.DetailedInfo {
    font-size: 19px;
    padding: 0 2px;
    font-style: italic;
}
span.years {
    font-size: 19px;
    }
.leftimg {
    float:left;
}
.footer {
    background-color: black;
    max-width: 100%;
    height: auto;
}